.LandingPage_image_group {
    position: fixed;
    width: 100%;
    left: 50%;
    height: 100vh;
    top: 50px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    
}

.LandingPage_image{
    max-width: 900px;
    margin: 0 auto;
    opacity: 0.1;
    height: calc(98vh - 50px);
    background: url("https://dontforget-upload.s3.us-east-2.amazonaws.com/dont+forget+bubble.jpg");
    background-size: cover;
    background-position: 50% 50%;
}


.LandingPage_text_group{
    position: fixed;
    width: 100%;
    left: 50%;
    top: 25vh;
    height: 100vh;
    /* top: 5vh; */
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.LandingPage_text_group p{
    /* opacity: 1; */
    margin-top: 0;
    margin-bottom: 5vh;
    text-align: center;
    font-size: smaller;
}

.LandingPage_text_group h1{
    margin-top: 0;
    margin-bottom: 10vh;
    text-align: center;
    font-size:x-large;
}


.LandingPage_feature{
    text-align: center;
    margin: 5vh;
    
}

.LandingPage_feature_last{
    text-align: center;
    margin-bottom: 10vh;
    
}

.LandingPage_findMore{
    /* margin:0 auto; */
    text-align: center;
}

.LandingPage_findMore a{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(230, 196, 173);
    transition: 0.5s ease-out;
}

.LandingPage_findMore a:hover{
    color: rgb(230, 196, 173);
    background-color: #222;
}

@media screen and (min-width: 400px) {
    .LandingPage_text_group p{
        font-size: initial
    }
}

@media screen and (min-width: 500px) {
    .LandingPage_text_group h1{
        font-size: xx-large;
    }

    

}