
.LandingPage_text_group{
    position: fixed;
    width: 100%;
    left: 50%;
    top: 25vh;
    height: 100vh;
    /* top: 5vh; */
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.LandingPage_text_group p{
    /* opacity: 1; */
    margin-top: 0;
    margin-bottom: 5vh;
    text-align: center;
}

.LandingPage_text_group h2{
    /* opacity: 1; */
    margin-top: 0;
    margin-bottom: 10vh;
    text-align: center;
}


.LandingPage_feature{
    text-align: center;
    margin: 5vh;
    
}

.LandingPage_feature_last{
    text-align: center;
    margin-bottom: 10vh;
    
}

.LandingPage_findMore{
    /* margin:0 auto; */
    text-align: center;
}

.LandingPage_findMore a{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(230, 196, 173);
    transition: 0.5s ease-out;
}

.LandingPage_findMore a:hover{
    color: rgb(230, 196, 173);
    background-color: #222;
}