.Buy__ListItems{
    list-style: none;
    padding-left: 0;
}

.Buy__ListItems li{
    text-align: center;
}
.Buy__shoppingLink{
    text-align: center;

}
.Buy_List_item p {
    margin-left: 10px;
    margin-right: 10px;

}

.Buy_List_item {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}