.Shopping__list{
    list-style: none;
    padding-left: 0;
}
.Shopping__list li{
    text-align: center;
    margin: 10px 0;
}

.Shopping__confirm{
    position: fixed;
    left:50%;
    top: 40%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: purple;
}